<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartFridge</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/smart-fridge-fe/src/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/smart-fridge-fe/src/assets/vendors/iconly/bold.css">
    <link rel="stylesheet" href="/smart-fridge-fe/src/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/smart-fridge-fe/src/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/smart-fridge-fe/src/assets/css/app.css">
    <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/x-icon">
  </head>

<body>
<div id="app">
  <div id="main">
    <header class="mb-3">
      <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
      </a>
    </header>

<hr class="margin150top">
    <div class="col-2 container">
      <h3>Add new fridge</h3>
    </div>

    <div class="col-6 container">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Provide details of new fridge</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <form class="form form-horizontal">
              <div class="form-body">
                <div class="row">

                  <div class="col-md-4">
                    <label>Producer name</label>
                  </div>
                  <div class="col-md-8 form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="producerName"
                      required
                      [(ngModel)]="fridge.producerName"
                      name="producerName"
                    />
                  </div>

                  <div class="col-md-4">
                    <label>Fridge name</label>
                  </div>
                  <div class="col-md-8 form-group">
                    <input
                      class="form-control"
                      id="fridgeName"
                      required
                      [(ngModel)]="fridge.fridgeName"
                      name="fridgeName"
                    />
                  </div>

                  <div class="col-md-4">
                    <label>Door type</label>
                  </div>
                  <div class="col-md-8 form-group">
                    <select class="form-select"
                                        id="doorType" required
                                        [(ngModel)]="fridge.doorType"
                                        name="doorType"
                                >
                      <option *ngFor="let item of enumKeys" [value]="item">{{ item }}</option>
                    </select>
                  </div>

                  <div class="col-md-4">
                    <label>Chiller capacity</label>
                  </div>
                  <div class="col-md-8 form-group">
                    <input
                      class="form-control"
                      id="chillerCapacity"
                      type="number"
                      step="1"
                      min="50"
                      max="500"
                      required
                      [(ngModel)]="fridge.chillerCapacity"
                      name="chillerCapacity"
                    />
                  </div>

                  <div class="col-md-4">
                    <label>Freezer capacity</label>
                  </div>
                  <div class="col-md-8 form-group">
                    <input
                      class="form-control"
                      id="freezerCapacity"
                      type="number"
                      step="1"
                      min="10"
                      max="200"
                      required
                      [(ngModel)]="fridge.freezerCapacity"
                      name="freezerCapacity"
                    />
                  </div>

                  <div class="col-sm-12 d-flex justify-content-end">
                    <button (click)="saveTutorial()" class="btn btn-success" style="margin-right: 10px">Submit</button>
                    <button type="reset" class="btn btn-secondary" (click)="newFridge()">Reset</button>
                  </div>

                  <div *ngIf="submitted" class="form-group col-6 container">
                    <h4>Fridge created successfully!</h4><br>
                    <button class="btn btn-primary" (click)="newFridge()">Add another fridge</button>
                  </div>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <footer></footer>
  </div>
</div>

  <script src="../../../assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
  <script src="../../../assets/js/bootstrap.bundle.min.js"></script>
  <script src="../../../assets/vendors/apexcharts/apexcharts.js"></script>
  <script src="../../../assets/js/pages/dashboard.js"></script>
  <script src="../../../assets/js/main.js"></script>

</body>
</html>
